<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>ini resent
    
  </h1>
  <a href="/">balik ke home</a>

  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/about/">about</a></li>
    <li><a href="/blog/">blog</a></li>
    <li><a href="/resent/">resent</a></li>
  </ul>

</body>
</html>